/* Color Selection 

    red0 = #FF5921;
    red1 = #EB4007;
    red2 = #DE3C07;
    red3 = #C43606;
    red4 = #AB2F05;
    red5 = #9E2B04;
    red6 = #5E1A03; 

    yellow0 = #FFD36E;
    yellow1 = #FECD54; ->
    yellow2 = #E8B94D;
    yellow3 = #FFC43B;
    yellow4 = #CCA343;
    yellow4 = #E8A541;
    yellow5 = #807150;

    gray = #9B95A6;
    gray = #5F5C66;
    gray = #535059; ->
    gray = #3C3940;
*/

/* Body */
body{
    font-family: 'Montserrat', sans-serif;
}
/* Navbar style */
.logo{
    height:80px;
    width: 80px;
    /* margin-left: 25rem; */
}
.navLink{
    font-size: 20px;
    color: #EB4007;
}
.navLink:hover{
    font-weight: bold;
    color:#C43606;
}
.navBar{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #3C3940;
    border-bottom: #C43606 2px solid;
    display: flex;
    flex:1;
    flex-direction: row; 
    justify-content: space-between;
    flex-wrap: nowrap;
}
.navbar-brand{
    margin-left: 20%;
}
.justify-content-end{
    margin-right: 19%
}
/* Header Photo style */
.headerPic{
     width: 60%;
     height: 400px;
     
}
.headerp{
    border-bottom: #C43606 2px solid;
    /* border-top: #C43606 2px solid; */
    margin-bottom:3rem;
    margin-top:6.65rem;
}
/* App style */
.main-Col{
    vertical-align: middle;
}

/* Cards style */
.cardsRow{
    margin: 5rem;
}
.menuh2{
    padding-left: 15%;
    font-weight: bolder;
    color: #3C3940;
}
.categoryCard{
   margin: 0 auto; 
   display: flex;
   flex:1;
   flex-direction: row; 
   justify-content: space-between;
   flex-wrap: wrap;
}
.indv-card{
    margin: 50px 20px;
    height: 22.5rem;
    width: 18rem;
}
.topCardImg{
    width:100%;
    height: 50%;
    margin-bottom: 5%;
}
.menuCardImg{
    width:100%;
    height:230px;
}
.card-title{
    font-size: 25px;
    color:#EB4007;
    padding:0px;
    margin:0px;
}
.card-title:hover{
    color:white;
}
.btn-outline-danger{
    border-color: #EB4007;
    color: #EB4007;
    padding:0px;
    margin:0px;
    background-color: transparent;
}
.btn-outline-danger:hover{
    border-color: #C43606;
    background-color: #C43606;
    color:White;  
}
.btn-name{
    padding-top: 8px;
}

/* Register Page*/
.register-cont, .Login-cont{
    width:40%;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    margin-bottom:9%;
}
.log-form{
    margin-left:20%;
    margin-right:20%;
}
.register-btn{
    width: 90px;
    height: 40px;
    padding-top:8px;
    float: right;
}
.login-btn{
    width: 90px;
    height: 40px;
    float: right;
    padding-top:8px;
    margin-right:20%;
}
.registerh2>a, Form{
    font-weight: bolder;
    color: #3C3940;
}
.registerh2>a:hover{
    text-decoration: none;
    color: #5F5C66; 
}
h2>span>a{
    font-weight: bolder;
    color: #3C3940; 
}
h2>span>a:hover{
    font-weight: bolder;
    color: #5F5C66; 
    text-decoration: none;
}
/* Menu Page */
.fullMenu{
    margin-top:10%;
}
.menu-header{
    margin-top:10%;
    text-align: center;
}
/* Pizza Cards */

.categoryCard-pizza{
    margin: 0 auto; 
    display: flex;
    flex:1;
    flex-direction: row; 
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .indv-card-pizza{
     margin: 50px 20px;
     height: 26rem;
     width: 18rem;
 }
 .pz-card-title:hover{
color: #DE3C07;
font-weight: bolder;
 }
 .pz-card-title{
     text-align: center;
     word-break: keep-all;
     border-bottom: rgba(95, 92, 102, 0.459) solid 1px;
     margin-bottom:1rem;
     height: 62px;
 }
 .add-btn, .edit-btn{
    float: left;
    display: block; 
    background-color: transparent;
    color:#FF5921;
    border-color: transparent;
    padding-top: 0px;
    margin-bottom:1rem;
 }
 
 #add-btn{
    float:left;
 }
 #dec-btn{
     float:left;
     padding:0px
 }
 .edit-btn:hover, .add-btn:hover{
    background-color: transparent;
    color: #FF5921;
    border-color: transparent;
 }
 .edit-btn:focus, .add-btn:focus{
    background-color: transparent;
    color:#FF5921;
    border-color: transparent;
    box-shadow: none;
 }
 .edit-btn:active, .add-btn:active{
    background-color: transparent!important;
    color:rgba(255, 88, 33, 0.63)!important;
    border-color: transparent!important;
    box-shadow: none!important;
 }
 .price-tag{
     border:none;
     border-bottom: rgba(95, 92, 102, 0.459) solid 1px;
     /* padding-bottom:10px;   */
     width:8rem;
     margin-left:1.5rem;
 }
#sum{
  float: right;  
  width:4rem;
}
 /* .ingr-title{
    padding: 1rem 1rem 0.5rem 1.5rem;
    padding-top:1rem;
    padding-bottom: 0.5rem;
    border-bottom: rgba(95, 92, 102, 0.459) solid 1px;
 } */
 /* .ingre-titles>.btn{
     float: right;   
 } */
 /* .ingr-names{
    padding:1rem;
    text-align: justify;
 } */

 .miniNavBar{
 margin-left: 30%;
 }
 .nav-link{
   margin-right:5%;  
 }
/* Footer */
.footer-p{
    color:white;
    font-size: 12px;
}
.footer{
    height:100px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-brand{
    margin:0;
}
.footer-nav{
    justify-content: space-around;
    background-color: #3C3940!important;
}
.footer-brand>.logo{
    width: 45px;
    height: 45px;
    margin-bottom:5px;
}

/* Modals */
#contained-modal-title-vcenter{
    color:#3C3940;
    font-weight: bolder;
}
.modal-header{
    background-color: rgba(255, 211, 110, 0.486);
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
 /* Options */
 #selectSize{
     border:none;
     border-bottom:rgba(95, 92, 102, 0.459) solid 1px;
     border-radius: 0px;
     width:88%;
     float:left;
     margin-top:-.4rem;
 }
.css-yk16xz-control{
    border:none;
    border-bottom:rgba(95, 92, 102, 0.459) solid 1px;
    border-radius: 0px;
    width:88%;
    float:left;
    margin-top:-.4rem;
}
/* MeatList */
.ckList{
    margin-top:1rem;
    display: flex;
    flex:1;
    flex-direction: row; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.mtcheckbox{
  height: 5rem;
  width: 15rem;
  float: left;
}
#noanim-tab-example-tab-NonMeat,
#noanim-tab-example-tab-Sauce,
#noanim-tab-example-tab-MeatTops{
    color:#FF5921!important;
    font-weight: bold;

}
#noanim-tab-example-tab-NonMeat:hover,
#noanim-tab-example-tab-Sauce:hover,
#noanim-tab-example-tab-MeatTops:hover{
    
    color:#9E2B04!important;
}
